body{
    background-image: url(imagenes/fondo.jpg);
    margin: 2%;
}

#logo{
    height: 200px;
    width: 200px;
    border-radius: 150px;
}
#titul{
    text-shadow: 2px 5px 5px grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1{
    color:#00A9FF;
    background-color: white;
    font-size: 70px;
}
.contenedor {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    
  }
  
.etiqueta {
    background-color: white; 
    font-family: sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 1.2em;
    display: inline; 
  }
  
h2{
    font-style: italic;
    text-decoration: underline;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
#Definiciones{
    display: flex;
    align-items: stretch;
  justify-content: space-between; 
    border: black 6px solid;
    margin: 3%;
    font-size: 30px;
    height: 840px;
    
}
.programa{
    border: black 2px solid;
    padding: 1%;
    margin: 1.5%;
    
    
}
.html{
    background-color: #f2edec;
}
.css{
    background-color: #e6ebee;
}
.js{
    background-color: #e8ede0;
}

.imag{
    zoom: 67%;
    display: block;
    margin: 0 auto;
}
h3{
    border: black 2px solid;
    text-align: center;
    font-size: 20px;
    padding: 10px 8px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 30px;
}
.deffin{
    display: flex;
    align-items: stretch;
    justify-content: space-between; 
    border: black 6px solid;
    margin: 3%;
    font-size: 30px;
    height: 780px;
}
.dos{
    border: black 2px solid;
    padding: 1%;
    margin: 1.5%;
}
.casa{
    zoom: 50%;
    display: block;
    margin: 0 auto;
    border: black 1px solid ;
    box-shadow: 10px 15px 3px  grey;
}
#fin{
    box-shadow: 10px 15px 3px  grey;
    font-size: 23.5px;
    text-align: center;
    border: black 2px solid ;
    padding: 38px;
    width: 1400px;
    border-radius: 5px;
    margin: auto
}
p{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
}
.inicial{
    font-size: 25px;
}
.tituhtml{
    background-color: #da4527;
}
.titucss{
    background-color: #0577be;
}
.titujs{
    background-color: #6ba714;
}
.hr{
    border: black 2px solid;
}